# Local environment and secret files
.env
.env.*
!.env.example
TODO.md



# Dependency directories (if any node_modules are generated locally)
node_modules/
ip.json
test*

# Operating system cache and metadata
.DS_Store
Thumbs.db

# Build outputs or logs
dist/
drizzle
build/
*.log
npm-debug.log*